/* Chicago.app style
 * - Responsive layout with 1140 Grid
 * - Progressive ehancement with Head.js
 */

/* The Document */
html {
  font-size: 12px;         /* Never rely on the defaults! */
  line-height: 18px;       /* Gives us a good vertical rhythm */
  background-color: white; /* Start with a blank slate */
}

/* Prefer neutral, geometric sans-serif fontfaces */
body, .sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

/* Stick to the standards for serif faces */
.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* The Body */
body {
  font-size: 1.25em;  /* Boost up the font size a little */
  line-height: 1.5em; /* Maintain our baseline ratio */
}

/* The Wordmark */
#chicago-app a, #chicago-app a:visited {
  color: black;
  text-decoration: none;
}

#chicago-app a:hover  { color: #666; }
#chicago-app a:active { color: #999; }

#chicago-app h1 {
  font-size: 2.5em; /* Let's make this thing obvious */
  line-height: 2em; /* Maintain lots of whitespace */
  font-weight: 800; /* "Extra bold" in Typekit parlance */
}


/* Take advantage of more screen space on the desktop and some larger devices */
@media handheld, only screen and (min-width: 768px) {
  body {}
}