/*
 * For reference:
 * blue    #1ab1dd
 * yellow  #ffe236
 * red     #d92525
 * orange  #ff7130
 * green   #4cb549
 *
 */


/* The Document */
html {
  font-size: 12px;   /* Never rely on the defaults! */
  line-height: 18px; /* Gives us a good vertical rhythm */

  /* Blue background with subtle dotted texturing */
  background: #1ab1dd url('/images/blue.png');
}

/* Let's reinstantiate some of the styles lost in the CSS reset */
li { margin-left: 1.5em; }

h1 { font-size: 1.75em; }
h2 { font-size: 1.50em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.00em; }

/* Prefer neutral, geometric sans-serif fontfaces */
body, .sans-serif { font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

/* Stick to the standards for serif faces */
.serif { font-family: Georgia, 'Times New Roman', Times, serif; }


/* The Body */
body {
  font-size: 1.25em;    /* Boost up the font size a little */
  margin-bottom: 2.5em; /* Nice to not end so abruptly */
  margin-top: 0.5em;    /* Helps offset margins on #content */
}

/* Maintain our baseline ratio */
body, h1, h2, h3, h4, h5, h6, p { line-height: 1.5em; }

/* On smaller devices, headings take up full width */
h1, h2, h3, h4, h5, h6 { text-align: center; }


/* The Wordmark */
#hack-at {
  text-align: center;        /* Front and center, very trustworthy */
  line-height: 3em;          /* Maintain lots of whitespace */
  text-transform: lowercase; /* It's nicer this way */
}

#hack-at a {
  color: #ffe236;
  font-size: 1.5em;      /* Let's make this thing obvious */
  font-weight: 800;      /* "Extra bold" in Typekit parlance */
  text-decoration: none; /* Underline would look ugly here */

  /* Chunky yet subtle drop shadow */
  text-shadow: rgba(0, 0, 0, 0.15) 0.115em 0.115em 0;

  /* Slick transitions on hover, resize, &c. */
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
}

/* Want main link to really pop when interacted with
 * - White, semi-transparent on hover
 * - Orange, keeps shadow when active
 */
#hack-at a:hover  {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: rgba(0, 0, 0, 0.25) 0.115em 0.115em 0;
}

#hack-at a:active { color: #d92525; }


/* Dropshadow Row Style
 * - White background with subtle drop shadow
 * - Use with general article markup style
 */
.dropshadow {
  padding: 0.5em 0;
  background-color: white;
  -moz-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.25);
}

.dropshadow + .dropshadow { margin-top: 2em; }

.dropshadow > header h1 {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0.5em 0 0;
}

.dropshadow > .content p, .dropshadow > .content ul {
  padding: 0.5em 0;
  line-height: 1.75em;
}


/* Take advantage of more screen space on the desktop and some larger devices */
@media handheld, only screen and (min-width: 768px) {
  #hack-at a { font-size: 2em; }
  h1, h2, h3, h4, h5, h6 { text-align: left; }
  .dropshadow > header h1 { padding: 1em; }
  .dropshadow > .content p, .dropshadow > .content ul { padding: 0.5em 1em; }
}

.ie .dropshadow > header h1 {
  font-size: 1.25em;
  padding: 0 0.5em;
}