/*
 * For reference:
 * blue    #1ab1dd
 * yellow  #ffe236
 * red     #d92525
 * orange  #ff7130
 * green   #4cb549
 * lime    #5bf300
 * purple  #ac49b5
 *
 */


/* The Document */
html {
  font-size: 12px;   /* Never rely on the defaults! */
  line-height: 18px; /* Gives us a good vertical rhythm */
}

/* Let's reinstantiate some of the styles lost in the CSS reset */
li { margin-left: 1.5em; }
h1 { font-size:  1.75em; }
h2 { font-size:  1.50em; }
h3 { font-size:  1.25em; }
h4 { font-size:  1.00em; }

/* Prefer neutral, geometric sans-serif fontfaces */
body, .sans-serif { font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

/* Stick to the standards for serif faces */
.serif { font-family: Georgia, 'Times New Roman', Times, serif; }

.vt323 { font-family: 'VT323', Monaco, monospace, courier; }


/* The Body */
body {
  font-size: 1.25em;    /* Boost up the font size a little */
  margin-bottom: 2.5em; /* Nice to not end so abruptly */
  margin-top: 0.5em;    /* Helps offset margins on #content */
}

/* Maintain our baseline ratio */
body, h1, h2, h3, h4, h5, h6, p { line-height: 1.5em; }

/* On smaller devices, headings take up full width */
h1, h2, h3, h4, h5, h6 { text-align: center; }


/* The Wordmark */
#hack-at {
  text-align: center;        /* Front and center, very trustworthy */
  line-height: 3em;          /* Maintain lots of whitespace */
  text-transform: lowercase; /* It's nicer this way */
}

#hack-at a {
  color: #d92525;
  font-size: 1.5em;      /* Let's make this thing obvious */
  font-weight: 800;      /* "Extra bold" in Typekit parlance */
  text-decoration: none; /* Underline would look ugly here */

  /* Chunky yet subtle drop shadow */
  text-shadow: rgba(0, 0, 0, 0.3) 0.04em 0.04em 0;

  /* Slick transitions on hover, resize, &c. */
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
}

#hack-at a:hover  { color: #1ab1dd; }
#hack-at a:active { color: #5bf300; }


/* Dropshadow Row Style
 * - White background with subtle drop shadow
 * - Use with general article markup style
 */
.dropshadow {
  padding: 0.5em 0;
}

.dropshadow > header h1 {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0.5em 0 0;
}

.dropshadow > .content p, .dropshadow > .content ul {
  padding: 0.5em 0;
  line-height: 1.75em;
}


/* Take advantage of more screen space on the desktop and some larger devices */
@media handheld, only screen and (min-width: 768px) {
  #hack-at a { font-size: 1.75em; }
  h1, h2, h3, h4, h5, h6 { text-align: left; }
}

.ie .dropshadow > header h1 {
  font-size: 1.25em;
  padding: 0 0.5em;
}


sup {line-height: 1em;}

a { color: #d92525; }
a:hover { color: #1ab1dd; }
a:active { color: #4cb549; }
a:visited { color: #ac49b5; }


.dropshadow, .row + .row {
  border-top: 1px solid #ddd;
}

.dropshadow {
  margin-top: -1px;
}

#copyright {
  color: #aaa;
  text-align: center;
  font-size: 0.8em;
  line-height: 2.5em;
}