<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lte IE 9]>
      <script src="/javascripts/mediaqueries.js" type="text/javascript"></script>
      <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <link href="/stylesheets/1140.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/chicago-app.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <!-- Beware! Using 1140 Grid system with the whole body as the container -->
  <body class="container">
    <header class="row">
      <div id="chicago-app" class="eightcol">
        <h1 id="chicago-app" class="adelle">
          <a href="/" title="Chicago.app">Chicago.app</a>
        </h1>
      </div>
      <nav class="fourcol last"><!-- Our only real navigation, site-wide -->
        <ul>
          <li><a href="/about.html" title="About">About</a></li>
          <li><a href="/posts.html" title="Posts">Posts</a></li>
        </ul>
      </nav>
    </header>

    <!-- Where the magic happens -->
    <section id="content" class="row">
      <div class="container">
        {{ content }}
      </div>
    </section>

    <!-- For faster rendering, loading JavaScript after content -->
    <script src="http://use.typekit.com/mnr5ksq.js" type="text/javascript"></script>
    <script src="/javascripts/head.load.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Typekit has some loading of its own to do
      try { Typekit.load(); } catch (e) {}

      // We're using the Head.js library to load a few JavaScript files in parallel
      head.js(
        { jquery: '/javascripts/jquery.js' },          // JavaScript at its finest
        { fancybox: '/javascripts/fancybox.js' },      // Super-slick lightboxes
        { timeAgo:'/javascripts/timeago.js' },         // Self-updating dates
        { waypoints: '/javascripts/waypoints.js' },    // Add spacial triggers
        { chicago_app: '/javascripts/chicago-app.js' } // Our own special sauce
      );
    </script>
  </body>
</html>