<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <script src="http://use.typekit.com/mnr5ksq.js" type="text/javascript"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--[if lte IE 8]>
      <script src="/javascripts/ie7-squish.js" type="text/javascript"></script>
      <script src="/javascripts/ie9.js" type="text/javascript"></script>
    <![endif]-->
    <link href="/stylesheets/1140.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/chicago-app.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <!-- Beware! Using 1140 Grid system with the whole body as the container -->
  <body class="container">
    <header class="row">
      <h1 id="chicago-app" class="adelle">
        <a href="/" title="Chicago.app">Chicago.app</a>
      </h1>
    </header>

    <!-- Where the magic happens -->
    {{ content }}

    <!-- For faster rendering, loading JavaScripts in parallel after content -->
    <script src="/javascripts/head.js" type="text/javascript"></script>
    <script type="text/javascript">
      head.js(
        { jquery: '/javascripts/jquery.js' },          // JavaScript at its finest
        { fancybox: '/javascripts/fancybox.js' },      // Super-slick lightboxes
        { timeAgo:'/javascripts/timeago.js' },         // Self-updating dates
        { waypoints: '/javascripts/waypoints.js' },    // Add spacial triggers
        { chicago_app: '/javascripts/chicago-app.js' } // Our own special sauce
      );
    </script>

    <!-- After the dust settles, we're ready to include @media query support -->
    <script src="/javascripts/mediaqueries.js" type="text/javascript"></script>
  </body>
</html>