<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <link href="/stylesheets/1140.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/chicago-app.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/mediaqueries.js" type="text/javascript"></script> <!-- Must load first! -->
    <script src="/javascripts/head.load.js" type="text/javascript"></script>
    <script src="/javascripts/chicago-app.js" type="text/javascript"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>